@use './variables' as *;


.footer {
    background-color: black;
    color: white;
    margin-top: 2.5rem;
    // height: 2vw;
    padding: 2rem 12rem;

    &__header {
        // margin-top: 2rem;
    }

    &__subheader {
        padding-bottom: 1.5rem;
    }

    &__head-logo {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
        padding-right: 1.5rem;
    }

    &__logo {
        padding-top: 0.5rem;
        font-size: 26px;
        font-weight: 700;
    }

    &__container {
        padding-top: 0.5rem;
        display: flex;
        justify-content: space-between;
    }

    &__about {
        width: 30%;
    }

    &__address {
        width: 30%;
    }

    &__menu {
        width: 5%;
    }

    &__item {
        list-style-type: none;
    }

    &__link {
        color: white;
        text-decoration: none;
    }

    &__icons-cnt {
        padding-top: 1.5rem;
        gap: 10px;
    }

    &__icon {
        padding-right: 15px;
    }
}
